* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 100%;
  color: #33475b;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.625;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

.centered-bloc {
  max-width: 1080px;
  margin: 0 auto;
}

#navbar-top {
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  padding: 24px 0;
}

#navbar-top .navbar-top__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar-top .navbar-top__left ul li:first-child {
  border-right: solid 1px #CBD6E2;
  padding-right: 19px;
  margin-right: 19px;
}

#navbar-top .navbar-top__left a {
  display: inline-block;
  height: 26px;
  /* padding-top: 4px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
}

#navbar-top .navbar-top__left a .text {
  display: inline-block;
  font-size: 14px;
  /* height: 26px; position: relative; top: -7px; */
}

#navbar-top .navbar-top__left a .ico::before {
  content: url("../imgs/language-switcher-icon.svg");
  display: inline-block;
  width: 16px;
  height: 26px;
  margin-right: 10px;
  padding-top: 5px;
}

#navbar-top .navbar-top__left a i {
  font-size: 1.3rem;
  color: #7c98b6;
  margin-left: 12px;
  /* position: relative; top: -4px; */
}

#navbar-main {
  background-color: #fff;
  padding: 29px 0;
}

#navbar-main .centered-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar-main a {
  display: inline-block;
}

#navbar-main .navbar-main__menu {
  width: 55%;
}

#navbar-main .navbar-main__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar-main .navbar-main__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

#navbar-main .navbar-main__menu a i {
  font-size: 1.3rem;
  color: #7c98b6;
  margin-left: 12px;
  /* position: relative; top: -4px; */
}

.section-hero {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#425b76), color-stop(#0091b0), color-stop(#00a4bd), to(#7fd1de));
  background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
  border-bottom: 2px solid #33475b;
  padding: 90px 0 125px 0;
  position: relative;
}

.section-hero .section-hero__band-bottom {
  background: #ADEBE4;
  height: 74px;
  border-top: 2px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-growth-stack {
  background-color: #F5F8FA;
  padding: 90px 0 125px 0;
}

.section-community-board {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding: 120px 0;
}

.section-customers {
  background-color: #fff;
  padding: 120px 0 180px 0;
}

footer {
  background-color: #32475C;
  padding: 80px 0 40px 0;
}

footer .footer__nav ul.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__nav ul.wrapper label {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

footer .footer__nav ul.wrapper ul {
  margin-top: 10px;
}

footer .footer__nav ul.wrapper ul li {
  display: block;
  padding: 10px 0;
}

footer .footer__nav ul.wrapper a {
  color: #cbd6e2;
  font-size: 15px;
  text-decoration: none;
}

footer .footer__nav ul.wrapper a:hover {
  color: #7fd1de;
}
/*# sourceMappingURL=style.css.map */