* { margin: 0; padding: 0; border: 0;}

ul{ list-style-type: none;}


header {
    text-align: center;
    padding: 50px;
    background-color: brown;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header ul li { display: inline; padding: 10px;}
header a { color: lightblue; text-decoration: none;}